#delimg{
  width:350px;
  
  border-radius: 10px;
}
#drop{
  border-radius: 10px;
  width:400px;
}
@media screen and (max-width:411px){
  #drop{
    border-radius: 10px;
    width:300px;
  }
  #flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
  }
  #delimg{
    width:300px;
    border-radius: 10px;
  }
}